<div class="content-about">
  <div class="title-about">
    <h4>About Me</h4>
  </div>
  <div class="description-about">
    <p>Soy una persona responsable, con deseos de superación y
        metas basadas en el logro de objetivos, tengo facilidad
        de aprendizaje y me intereso por cumplir de manera
        adecuada con la puntualidad, honestidad y resposabilidad
        en las diferentes actividades que realizo.</p>
  </div>
  <div class="circle-one"></div>
  <div class="circle-two"></div>
</div>