<div class="name-presentation">
  <div class="row">
    <div class="col-12">
      <h1 class="title">Juan Camilo Verganzo Chavarriaga</h1>
      <h2 class="sub-title">DEVELOPER SOFTWARE</h2>
    </div>
  </div>
</div>

<div class="illustrator">
  <div class="row">
    <div class="col-12 button-social">
      <button mat-fab><mat-icon class="material-icons-round menu-item-icon-head">more_vert</mat-icon></button>
      <button mat-fab><mat-icon class="material-icons-round menu-item-icon-head">more_vert</mat-icon></button>
      <button mat-fab><mat-icon class="material-icons-round menu-item-icon-head">more_vert</mat-icon></button>
    </div>
  </div>
</div>