<div class="name-presentation">
  <div class="row">
    <div class="col-12">
      <h1 #title class="title" id="title">Juan Camilo Verganzo Chavarriaga</h1>
      <h2 #subtitle class="sub-title" id="subtitle">DEVELOPER SOFTWARE</h2>
    </div>
  </div>
</div>

<div class="illustrator">
  <div class="button-social">
    <button mat-fab class="button-round-facebook"><mat-icon class="material-icons-round menu-item-icon-head fab fa-facebook-f"></mat-icon></button>
    <button mat-fab class="button-round-instagram"><mat-icon class="material-icons-round menu-item-icon-head fab fa-instagram"></mat-icon></button>
    <button mat-fab class="button-round-github"><mat-icon class="fab fa-github-alt material-icons-round menu-item-icon-head "></mat-icon></button>
  </div>
</div>