<div class="container-app">
  <mat-sidenav-container>

    <mat-sidenav-content>
      <div class="navbar">
        <mat-toolbar>
          <button mat-button class="location-button" routerLink="/home">
            <span>HOME</span>
          </button>
          <button mat-button class="location-button" routerLink="/about-me">
            <span>ABOUT ME</span>
          </button>
          <button mat-button class="location-button">
            <span>SKILLS</span>
          </button>
          <button mat-button class="location-button">
            <span>EXPERIENCIE</span>
          </button>
          <button mat-button class="location-button">
            <span>EDUCATION</span>
          </button>
          <button mat-button class="location-button">
            <span>PORTFOLIO</span>
          </button>
          <button mat-button class="location-button">
            <span>CONTACT</span>
          </button>
          <div>
            <button mat-button [matMenuTriggerFor]="app_menu" class="button-menu" class="location-button">
              <mat-icon class="material-icons-round menu-item-icon-head">more_vert</mat-icon>
            </button>
            <mat-menu #app_menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="onSetTheme('dark-theme')">
                <mat-icon class="material-icons-round">brightness_4</mat-icon>
                <span>DARK THEME</span>
              </button>
              <button mat-menu-item (click)="onSetTheme('light-theme')">
                <mat-icon class="material-icons-round">brightness_5</mat-icon>
                <span>LIGHT THEME</span>
              </button>
            </mat-menu>
          </div>

        </mat-toolbar>
      </div>

      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>